/* ..................................... */
/* GENERAL STYLING (elastic design) */
/* ..................................... */

html{
    font-family: sans-serif;
    font-size: 16px;
    color: #003BA3;
}

section{
    padding: 0 5%;
}

article{
    margin: 1.5rem 0;
}

iframe, form{
    margin: 0rem 0 1rem;
}

/* ------------------ tipografía ------------------ */
/* logo */
h1{
    font-size: 2.5rem;
    font-weight: 100;
}

a{
    text-decoration: none;
    color: #003BA3;
}

/* lista información */
ul.lista-info li:nth-child(1){
    font-size: 1.5rem;
}

/* título con icono */
div.icono-titulo{
    font-size: 2.5rem;
    margin-bottom:1rem;
}

div.icono-titulo h3{
    display: inline;
}

/* ------------------ teléfonos ------------------ */
section article:nth-child(2) ul li{
    display: block;
    font-size: 2.5rem;
    margin:2rem 0;
    text-align: center;
}

 /* ------------------ separación antes de formulario ------------------ */
 section article:nth-child(3) hr{
    display:none;
}

/* ------------------ footer ------------------ */
footer  { 
    background-color: #003BA3;
    color:white;
    padding: 1rem 5%;
}

footer a{
    color:white;
}

footer ul {
    margin-bottom: 5rem;
}

footer ul li{
    margin: 0 2rem 0.7rem 0;
    font-weight: 100;
}

footer hr{
    border: 1px solid #4264A0;
}

h5{
    text-align: center;
    font-size: 0.8rem;
    font-weight: 100;
}


/* ------------------ MEDIA QUERIES ------------------ */

/* ..................................... */
/* SMARTPHONE (portrait) */
/* ..................................... */

@media only screen 
and (min-width:320px){

    

    /* ------------------ navigation bar ------------------ */
    nav{
        position: relative;
        padding-top: 4.5rem;
    }

    nav a{
        display: block;
        padding: 1rem 0;
        text-align: center;
    }

    nav a:nth-child(1), nav a:nth-child(3){
        color: white;
        background-color: #003BA3;
        border-top:1px solid white;
        border-bottom: 1px solid white;
    }

    /* posición logo */
    nav a:nth-child(2){
        position: absolute;
        top: 0px;
        left: 50%;
        margin-left:-3.6125rem;

    }

    /* ------------------ título con solo icono ------------------ */
    div.icono-titulo h3{
        display: none;
    }
    div.icono-titulo {
        text-align: center;
    }

    /* ------------------ form ------------------ */
    form{
        display:inline-block;
        background-color: #D8E1F2;
        padding: .5rem;
        width:100%;
        box-sizing: border-box;
    }
    
    form label, form input, form textarea{
        display: block;
        width: 100%;
    }
    
    input, textarea{
        padding: 0.8rem 0.3125rem;
        
        font-size: 1rem;
        margin-bottom:0.625rem;
        margin-top:0.1875rem;
        color: #4E74BF;
        width:18.75rem;
        border: 1px solid rgb(206, 206, 206);
        outline: none;
        box-sizing: border-box;
    }

    input::placeholder, textarea::placeholder{
        color:#B3C3E4;
    }
    
    /* botón */
    button{
        float:right;
        padding: 0.8rem 0px;
        font-size: 1.4rem;
        background-color: #4E74BF;
        border: 0;
        width: 11rem;
        color: white;
    }
    
    form button:hover{
        background-color: rgb(93, 130, 204);
        color: white;
        cursor:pointer;
    }

    /* lista información */
    section article:nth-child(3) ul.lista-info{
        clear:both;
    }
    section article:nth-child(3) ul.lista-info li:nth-child(2){
        font-size: 0.65rem;
    }

}


/* ..................................... */
/* TABLET */
/* ..................................... */

/* ------------------ Portrait ------------------ */

@media only screen 
and (min-width:768px){

    /* ------------------ navigation bar ------------------ */
    header{
        padding: 0 5%;
    }

    nav{
        position: relative;
        padding-top: 4.5rem;
        border-bottom: 2px solid #4264A0;
    }

    nav a{
        display: inline-block;
        text-align: left;
    }

    nav a:nth-child(1), nav a:nth-child(3){
        position: absolute;
        top:0;
        right:0%;
        
        color: #003BA3;
        background-color: transparent;
        border:0;
        padding: 1.75rem 0;
    }

    nav a:nth-child(1){
        right: 20%;
    }

    /* posición logo */
    nav a:nth-child(2){
        position: absolute;
        top: 0px;
        left: 8%;

        padding: 1rem 0;
    }

    /* hovers */

    nav a:nth-child(1):hover, nav a:nth-child(3):hover, a:hover{
        color:rgb(52, 107, 201);
    }

    /* ------------------ título con solo icono ------------------ */
    div.icono-titulo h3{
        display: inline-block;
    }
    div.icono-titulo {
        text-align: left;
    }

    /* ------------------ teléfonos ------------------ */
    section article:nth-child(2) ul li{
        display: inline-block;
        font-size: 1.5rem;
        margin:0.5rem 2rem 0.5rem 0rem;
        text-align: left;
    }

    section article:nth-child(2){
        margin-bottom: 5rem;
    }


    /* ------------------ form ------------------ */
    form {
        background-color: transparent;
        padding: .5rem 0;
    }

    form ul li:nth-child(1), form ul li:nth-child(2){
        width: 50%;
    }

     /* lista información */
     section article:nth-child(3) ul.lista-info{
         padding-top: 3rem;
     }

     section article:nth-child(3) ul.lista-info li{
        text-align: center;
    }

    /* ------------------ footer ------------------ */
    footer li {
        display: inline-block;
    }

    footer a:hover{
        color: #D8E1F2;
    }

    /* lista información */
    
    section article:nth-child(3) ul.lista-info li:nth-child(2){
        margin-top:0.4rem;
        font-size: 1rem;
    }

}


/* ------------------ Landscape ------------------ */
@media only screen 
and (min-device-width:1024px) 
and (orientation: landscape){

}


/* ..................................... */
/* DESKTOP */
/* ..................................... */

@media only screen 
and (min-width:1366px){

    /* ------------------ navigation bar ------------------ */
    nav{
        position:static;
        padding-top: 0rem;
        text-align: center;
        border-bottom: none;   
    }

    nav a{
        margin:0 1rem;
    }

    nav a:nth-child(1), nav a:nth-child(3){
        position: static;
    }

    /* posición logo */
    nav a:nth-child(2){
        position: relative;
        top: .5rem;
        left: 0rem;
        margin:0 1rem;
    }

    /* ------------------ separación antes de formulario ------------------ */
    section article:nth-child(3) hr{
        display:block;
        width: 50%;
        margin-bottom: 4rem;
    }

    /* ------------------ form ------------------ */
    form{
        display: block;
        width: 80%;
        margin: 0 auto;
        box-sizing: border-box;
    }

    /* ------------------ footer ------------------ */
    footer{
        padding: 1rem 5% 0.2rem;
    }
    
    h5{
        display:none;
    }
    

}

